.ripple-button {
  /* Variables */
  --button-color: #03a5fc;
  --text-color: #ffffff;
  --font-family: inherit;

  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1rem;
  background: var(--button-color);
  color: var(--text-color);
  font-family: var(--font-family);
  box-sizing: border-box;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.ripple-button * {
  pointer-events: none;
}

.ripple-button-background {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  transition: 0.3s;
  z-index: -1;
  width: 1px;
  height: 1px;
  transform: scale(0);
}
